<nav>
    <ul class = "nav-bar">
        <li class ="nav-item"><a href = "/flags"> Home </a></li>
        <li class = "nav-item"><a href = "/upload-your-own-flag"> Upload your own flag!</a></li>
    </ul>
</nav>